Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

backend-linter:
  name: Run backend linter
  entry: make lint-backend
  language: system
  pass_filenames: false

backend-tests:
  name: Run backend tests
  entry: make test-backend
  language: system
  pass_filenames: false

frontend-linter:
  name: Run frontend linter
  entry: make lint-frontend
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: make test-frontend
  language: system
  pass_filenames: false

Style(fe): route path names
  frontend/src/App.jsx
Due: none

Upd(be): crane models for easier frontend repr
  backend/app/db/models.py
  backend/app/schemas/cranes.py
  backend/dev_scripts/populate_db_from_xlsx.py
  backend/migrations/versions/0d0178c35c58_.py
Due: backend-linter, backend-tests

Upd(be): CraneDbModel
  backend/app/db/models.py
Due: backend-linter, backend-tests

Test(be): add testing data and fixtures
  backend/tests/conftest.py
  backend/tests/cranes_test_data/Liebherr_LR1100.json
  backend/tests/cranes_test_data/Liebherr_LR1200.json
  backend/tests/cranes_test_data/Liebherr_LR1280.json
  backend/tests/cranes_test_data/Liebherr_LTM1100.json
  backend/tests/cranes_test_data/Liebherr_LTM1200.json
  backend/tests/cranes_test_data/Liebherr_LTM1300.json
  backend/tests/cranes_test_data/Takraf_EDK1000.json
  backend/tests/cranes_test_data/Takraf_EDK500.json
  backend/tests/cranes_test_data/Takraf_РДК250.json
  backend/tests/cranes_test_data/Takraf_РДК400.json
  backend/tests/cranes_test_data/Zoomlion_ZAT2000.json
  backend/tests/cranes_test_data/Zoomlion_ZAT3000.json
  backend/tests/cranes_test_data/Zoomlion_ZTC1000.json
  backend/tests/cranes_test_data/ЧМЗ_ДЭК631.json
  backend/tests/test.db
Due: backend-linter, backend-tests

Test(be): process endpoint single request case (unfinished)
  backend/tests/test_endpoints/__init__.py
  backend/tests/test_endpoints/healthcheck/__init__.py
  backend/tests/test_endpoints/index/__init__.py
  backend/tests/test_endpoints/process/__init__.py
  backend/tests/test_endpoints/process/test_single_safety_factor_request.py
Due: backend-linter, backend-tests

Refactor: crane.id to crane.name as base query method
  backend/app/api.py
  backend/app/db/queries.py
  backend/app/schemas/calc_requests.py
  backend/app/services/lifting_capacity.py
  frontend/src/App.jsx
  frontend/src/api/calcRequests.js
  frontend/src/api/cranes.js
  frontend/src/components/CranesList/index.jsx
  frontend/src/pages/CraneDetail/index.jsx
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(be): dev scripts to parse cranes attachments
  Makefile
  backend/dev_scripts/cli_parser.py
  backend/dev_scripts/dump_cranes_data.py
  backend/dev_scripts/populate_db_with_cranes/__init__.py
  backend/dev_scripts/populate_db_with_cranes/data_extractor.py
  backend/dev_scripts/populate_db_with_cranes/db_operations.py
  backend/dev_scripts/populate_db_with_cranes/main.py
  backend/dev_scripts/populate_db_with_cranes/parse_attachments.py
  backend/dev_scripts/populate_db_with_cranes/parse_excel_data.py
  backend/dev_scripts/show_cranes_summary.py
  backend/manage.py
Due: backend-linter, backend-tests

Fix(be): MIN_SAFETY_FACTOR setting to be float
  backend/app/settings.py
Due: backend-linter, backend-tests

Test(be): utils/math module
  backend/tests/test_utils/test_math.py
Due: backend-linter, backend-tests

Style(fe): calc api request
  frontend/src/api/calcRequests.js
Due: frontend-linter, frontend-tests

Typo(be): filters.py
  backend/app/db/filters.py
Due: backend-linter, backend-tests

Refactor(be): api to accept radius as str
  backend/app/schemas/calc_requests.py
  backend/app/schemas/cranes.py
  backend/app/services/lifting_capacity.py
  frontend/src/api/calcRequests.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(be): queries to fetch cranes from db
  backend/app/api.py
  backend/app/db/queries.py
  backend/app/services/lifting_capacity.py
Due: backend-linter, backend-tests

Upd(be): env.example
  backend/.env.example
Due: none

Refactor(be): pydantic schemas to ConfigDict
  backend/app/schemas/cranes.py
Due: backend-linter, backend-tests

Refactor(be): utils/math.py module
  backend/utils/math.py
Due: backend-linter, backend-tests

Test(be): upd test sample data
  backend/tests/cranes_test_data/Liebherr_LR1100.json
  backend/tests/cranes_test_data/Liebherr_LR1200.json
  backend/tests/cranes_test_data/Liebherr_LR1280.json
  backend/tests/cranes_test_data/Liebherr_LR1300.json
  backend/tests/cranes_test_data/Liebherr_LR1400.json
  backend/tests/cranes_test_data/Liebherr_LR1500.json
  backend/tests/cranes_test_data/Liebherr_LR1600.json
  backend/tests/cranes_test_data/Liebherr_LR1750.json
  backend/tests/cranes_test_data/Liebherr_LR1800.json
  backend/tests/cranes_test_data/Liebherr_LTM1100.json
  backend/tests/cranes_test_data/Liebherr_LTM1200.json
  backend/tests/cranes_test_data/Liebherr_LTM1300.json
  backend/tests/cranes_test_data/Sany_SCC1000A-5.json
  backend/tests/cranes_test_data/Sany_SCC2000A.json
  backend/tests/cranes_test_data/Sany_SCC2800A.json
  backend/tests/cranes_test_data/Sany_SCC3200T.json
  backend/tests/cranes_test_data/Sany_SCC4000A-6.json
  backend/tests/cranes_test_data/Sany_SCC5000A-1.json
  backend/tests/cranes_test_data/Sany_SCC6000A.json
  backend/tests/cranes_test_data/Sany_SCC7500A.json
  backend/tests/cranes_test_data/Takraf_EDK1000.json
  backend/tests/cranes_test_data/Takraf_EDK500.json
  backend/tests/cranes_test_data/Takraf_РДК250.json
  backend/tests/cranes_test_data/Takraf_РДК400.json
  backend/tests/cranes_test_data/Zoomlion_ZAT2000.json
  backend/tests/cranes_test_data/Zoomlion_ZAT3000.json
  backend/tests/cranes_test_data/Zoomlion_ZTC1000.json
  backend/tests/cranes_test_data/ЧМЗ_ДЭК631.json
  backend/tests/test.db
Due: none

Add(be): simplified crane model for list views
  backend/app/api.py
  backend/app/schemas/cranes.py
  backend/app/settings.py
Due: backend-linter, backend-tests

Test(be): upd conftest.py
  backend/tests/conftest.py
Due: backend-linter, backend-tests

Test(be): setup base tests structure
  backend/tests/endpoints/__init__.py
  backend/tests/endpoints/healthcheck/__init__.py
  backend/tests/endpoints/index/__init__.py
  backend/tests/endpoints/process/__init__.py
  backend/tests/tests.py
Due: backend-linter, backend-tests

Upd(fe): index.css
  frontend/src/App.css
  frontend/src/index.css
  frontend/src/styles/responsive.css
  frontend/src/styles/utility-classes.css
Due: none

Refactor crane filtering to handle russian chars
  backend/app/db/filters.py
  backend/app/db/queries.py
  backend/app/schemas/cranes.py
  frontend/src/api/cranes.js
  frontend/src/components/CranesFilterSidebar/index.jsx
  frontend/src/pages/Home/index.jsx
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Refactor(fe): code duplication in form validation
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Upd(fe): form validation utility
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Docs(be): lifting capacity service
  backend/app/services/lifting_capacity.py
Due: backend-linter, backend-tests

Upd(fe): home page
  frontend/src/components/CranesList/CranesList.css
  frontend/src/pages/Home/Home.css
Due: none

Upd(fe): navbar
  frontend/src/components/Navbar/index.jsx
Due: none

Fix: crane detail page reloading bug
  backend/app/api.py
  backend/app/db/models.py
  backend/app/db/queries.py
  backend/app/schemas/cranes.py
  backend/data/app.db.sqlite3
  backend/migrations/versions/95fe341db985_.py
  backend/tests/cranes_test_data/Liebherr_LR1100.json
  backend/tests/cranes_test_data/Liebherr_LR1200.json
  backend/tests/cranes_test_data/Liebherr_LR1280.json
  backend/tests/cranes_test_data/Liebherr_LTM1100.json
  backend/tests/cranes_test_data/Liebherr_LTM1200.json
  backend/tests/cranes_test_data/Liebherr_LTM1300.json
  backend/tests/cranes_test_data/Takraf_EDK1000.json
  backend/tests/cranes_test_data/Takraf_EDK500.json
  backend/tests/cranes_test_data/Takraf_РДК250.json
  backend/tests/cranes_test_data/Takraf_РДК400.json
  backend/tests/cranes_test_data/Zoomlion_ZAT2000.json
  backend/tests/cranes_test_data/Zoomlion_ZAT3000.json
  backend/tests/cranes_test_data/Zoomlion_ZTC1000.json
  backend/tests/cranes_test_data/ЧМЗ_ДЭК631.json
  backend/tests/test.db
  backend/tests/test_endpoints/process/test_single_safety_factor_request.py
  backend/tests/test_utils/test_math.py
  frontend/src/api/cranes.js
  frontend/src/components/CranesList/index.jsx
  frontend/src/pages/CraneDetail/index.jsx
  frontend/vite.config.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Feat(be): crane attachments service
  backend/app/api.py
  backend/app/services/crane_attachments.py
Due: backend-linter, backend-tests

Refactor(fe): calc result order
  frontend/src/components/CraneCalcView/CalculationResults.jsx
Due: none

Upd(be): healthcheck to health endpoint name
  backend/app/api.py
Due: backend-linter, backend-tests

Refactor(fe): calc history hook
  frontend/src/hooks/useCalculationHistory.js
Due: frontend-linter, frontend-tests

Upd(fe): error message on detail page
  frontend/src/components/CraneCalcView/ResultCopyButton.jsx
  frontend/src/pages/CraneDetail/index.jsx
Due: none

Fix: makefile pre-commit command
  Makefile
Due: none

Upd: app logo
  frontend/src/assets/app_logo.png
  frontend/src/assets/react.svg
  frontend/src/components/AppLogo/AppLogo.css
  frontend/src/components/AppLogo/index.jsx
Due: none

Add(fe): utility class for nice row hover effect
  frontend/src/styles/utility-classes.css
Due: none

Add(fe): utility class to center inline elements
  frontend/src/styles/utility-classes.css
Due: none

Add(fe): image gallery to crane page
  frontend/src/components/CraneDataView/index.jsx
  frontend/src/components/ImageGallery/ImageGallery.css
  frontend/src/components/ImageGallery/index.jsx
Due: none

Path conditions:
  backend-linter: any of: \.py$
  backend-tests: any of: \.py$
  frontend-linter: any of: \.(js|mjs|cjs)$
  frontend-tests: any of: \.(js|mjs|cjs)$
