Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

backend-linter:
  name: Run backend linter
  entry: make lint-backend
  language: system
  pass_filenames: false

backend-tests:
  name: Run backend tests
  entry: make test-backend
  language: system
  pass_filenames: false

frontend-linter:
  name: Run frontend linter
  entry: make lint-frontend
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: make test-frontend
  language: system
  pass_filenames: false

Fix: heath wrong endpoint name
  backend/app/api.py
  frontend/vite.config.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Refactor(be): env management and defaults
  backend/.env.example
  backend/app/settings.py
  backend/main.py
Due: backend-linter, backend-tests

Refactor(be): scripts to use new env management
  backend/dev_scripts/cli_parser.py
  backend/dev_scripts/dump_cranes_data.py
  backend/dev_scripts/populate_db_from_xlsx.py
  backend/dev_scripts/populate_db_with_cranes/data_extractor.py
  backend/dev_scripts/populate_db_with_cranes/main.py
  backend/dev_scripts/populate_db_with_cranes/parse_attachments.py
  backend/dev_scripts/show_cranes_summary.py
  backend/manage.py
Due: backend-linter, backend-tests

Upd(be): lifting capacity service
  backend/app/services/lifting_capacity.py
Due: backend-linter, backend-tests

Feat: add docker support
  .dockerignore
  Dockerfile
  Makefile
  compose.yaml
Due: none

Feat(be): add logging
  backend/app/api.py
  backend/app/logging_config.py
Due: backend-linter, backend-tests

Add(be): DEVELOPMENT env logic for frontend mount
  Makefile
  backend/.env.example
  backend/app/api.py
  backend/app/settings.py
Due: backend-linter, backend-tests

Test: refactor tests for correct ci/cd usage
  Makefile
  backend/tests/conftest.py
  backend/tests/test_endpoints/process/test_single_safety_factor_request.py
  backend/tests/test_utils/test_math.py
Due: backend-linter, backend-tests

Style(be): api.py
  backend/app/api.py
Due: backend-linter, backend-tests

Upd(be): switch server reload to false in prod
  backend/main.py
Due: backend-linter, backend-tests

Upd(fe): utility classes
  frontend/src/styles/utility-classes.css
Due: none

Refactor: calc requests and response api schemas
  backend/app/api.py
  backend/app/schemas/calc_requests.py
  backend/app/schemas/calc_responses.py
  backend/app/services/lifting_capacity.py
  backend/tests/test_endpoints/process/test_payload_request.py
  backend/tests/test_endpoints/process/test_safety_factor_request.py
  backend/tests/test_endpoints/process/test_single_safety_factor_request.py
  frontend/src/api/calcRequests.js
  frontend/src/components/CraneCalcView/CalculationForm.jsx
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/ResultCopyButton.jsx
  frontend/src/components/CraneCalcView/ResultDownloadButton.jsx
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/components/CraneCalcView/useCalculationForm.js
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/pages/CraneDetail/index.jsx
  frontend/src/utilities/reportGenerator.js
  frontend/src/utilities/validateCalcForm.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(be): logging
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  backend/app/api.py
  backend/app/logging_config.py
  compose.yaml
Due: backend-linter, backend-tests

Upd(be): ruff settings
  Makefile
  backend/pyproject.toml
Due: none

Upd(be): logging config
  backend/app/logging_config.py
Due: backend-linter, backend-tests

Fix(be): populate_db package __init__.py
  backend/dev_scripts/populate_db_with_cranes/__init__.py
Due: backend-linter, backend-tests

Upd(fe): calc form validation
  frontend/src/components/CraneCalcView/CalculationForm.jsx
  frontend/src/components/CraneCalcView/useCalculationForm.js
  frontend/src/components/ValidatedFormField/index.jsx
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Upd(fe): proxy docs endpoint in dev mode
  frontend/vite.config.js
Due: frontend-linter, frontend-tests

Upd(be): move data dir to project root
  data/app.db.sqlite3
Due: none

Upd(be): calc request schema
  backend/app/schemas/calc_requests.py
  backend/app/services/lifting_capacity.py
  backend/tests/test_endpoints/process/test_payload_request.py
  backend/tests/test_endpoints/process/test_safety_factor_request.py
  frontend/src/api/calcRequests.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd: app configuration from env
  .env.example
  backend/.env.example
  backend/app/db/queries.py
  backend/app/settings.py
  frontend/src/api/cranes.js
  frontend/src/config.js
  frontend/src/pages/Home/index.jsx
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(be): makefile show cranes command
  Makefile
Due: none

Feat(fe): 404 page
  frontend/src/App.jsx
  frontend/src/pages/NotFound/NotFound.css
  frontend/src/pages/NotFound/index.jsx
Due: none

Upd(be): add custom calculation logging
  backend/app/api.py
  backend/app/logging_config.py
Due: backend-linter, backend-tests

Add: README.md
  README.md
Due: none

Feat(be): prometheus/grafana integration support
  backend/app/api.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/vite.config.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(be): cranes DB
  data/app.db.sqlite3
Due: none

Feat(be): catch_all endpoint for prod routing
  backend/app/api.py
Due: backend-linter, backend-tests

Add(fe): clear history button to about page
  frontend/src/pages/About/About.css
  frontend/src/pages/About/index.jsx
  frontend/src/pages/CalcHistory/index.jsx
Due: none

Fix: Makefile .env import error
  Makefile
Due: none

Upd(fe): add hint to name col on home page
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
Due: none

Fix(be): setup file log handler only in dev mode
  backend/app/logging_config.py
Due: backend-linter, backend-tests

Upd(be): hide dataless chassis types
  backend/app/schemas/cranes.py
Due: backend-linter, backend-tests

Fix: docker installing dev dependencies
  Dockerfile
Due: none

Upd README.md
  README.md
Due: none

Upd(fe): add confirmation to history clear
  frontend/src/pages/CalcHistory/index.jsx
Due: none

Path conditions:
  backend-linter: any of: \.py$
  backend-tests: any of: \.py$
  frontend-linter: any of: \.(js|mjs|cjs)$
  frontend-tests: any of: \.(js|mjs|cjs)$
