Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

backend-linter:
  name: Run backend linter
  entry: make lint-backend
  language: system
  pass_filenames: false

backend-tests:
  name: Run backend tests
  entry: make test-backend
  language: system
  pass_filenames: false

frontend-linter:
  name: Run frontend linter
  entry: make lint-frontend
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: make test-frontend
  language: system
  pass_filenames: false

Upd: Makefile
  Makefile
Due: none

Fix(be): default cranes list limit must be 30
  backend/app/schemas/cranes.py
Due: backend-linter, backend-tests

Docs(be): conftest.py
  backend/tests/conftest.py
Due: backend-linter, backend-tests

Fix(be): deep_filtering bug with invalid radiuses
  backend/app/db/filters.py
  backend/tests/test_endpoints/api_cranes/__init__.py
  backend/tests/test_endpoints/api_cranes/test_deep_filtering.py
  backend/utils/lifting_capacity.py
Due: backend-linter, backend-tests

Upd: .env.example
  .env.example
Due: none

Feat(be): cranes URL checking script
  Makefile
  backend/dev_scripts/__init__.py
  backend/dev_scripts/check_cranes_urls.py
  backend/dev_scripts/cli_parser.py
  backend/manage.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-linter, backend-tests

Upd(fe): increase filter API call timeout to 800ms
  frontend/src/config.js
  frontend/src/pages/Home/index.jsx
Due: frontend-linter, frontend-tests

Upd(be): app version to 1.0.1
  backend/app/settings.py
Due: backend-linter, backend-tests

Release v1.0.1
  backend/app/settings.py
  frontend/src/config.js
  frontend/src/pages/Home/index.jsx
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Test(be): health endpoint
  backend/tests/test_endpoints/healthcheck/test_healthcheck.py
Due: backend-linter, backend-tests

Add: GAKZ cranes
  data/app.db.sqlite3
Due: none

Upd: truck-mounted cranes
  data/app.db.sqlite3
Due: none

Add: Hitachi SCX2500 crane
  data/app.db.sqlite3
Due: none

REMOVE: git LFS support
  .gitattributes
  .gitignore
  README.md
  data/README.md
  data/app.db.sqlite3
Due: none

Release v1.0.2
  .gitattributes
  .gitignore
  README.md
  backend/tests/test_endpoints/healthcheck/test_healthcheck.py
  data/README.md
  data/app.db.sqlite3
Due: backend-linter, backend-tests

Upd(be): separate HOT_RELOAD and DEVELOPMENT envs
  .env.example
  backend/app/settings.py
  backend/main.py
Due: backend-linter, backend-tests

Feat: VPS deploy functionality
  .github/workflows/vps-deploy.yaml
  Dockerfile-VPS-backend
  Dockerfile-VPS-frontend
  compose-VPS.yaml
  deploy-VPS.sh
  nginx.conf
Due: none

Release v1.0.3
  .env.example
  .github/workflows/vps-deploy.yaml
  Dockerfile-VPS-backend
  Dockerfile-VPS-frontend
  backend/app/settings.py
  backend/main.py
  compose-VPS.yaml
  deploy-VPS.sh
  nginx.conf
Due: backend-linter, backend-tests

Remove: render.com deploy support
  Makefile
  backend/requirements_for_render.txt
Due: none

Path conditions:
  backend-linter: any of: \.py$
  backend-tests: any of: \.py$
  frontend-linter: any of: \.(js|mjs|cjs)$
  frontend-tests: any of: \.(js|mjs|cjs)$
