Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

backend-linter:
  name: Run backend linter
  entry: make lint-backend
  language: system
  pass_filenames: false

backend-tests:
  name: Run backend tests
  entry: make test-backend
  language: system
  pass_filenames: false

frontend-linter:
  name: Run frontend linter
  entry: make lint-frontend
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: make test-frontend
  language: system
  pass_filenames: false

Add(fe): docx and file-saver dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

Refactor(fe): result download button
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/ResultDownloadButton.jsx
Due: none

Upd(fe): report generator logic
  frontend/src/utilities/reportGenerator.js
Due: frontend-linter, frontend-tests

Refactor(fe): cranes api request
  frontend/src/api/cranes.js
Due: frontend-linter, frontend-tests

Docs(fe): AppLogo component
  frontend/src/components/AppLogo/AppLogo.css
  frontend/src/components/AppLogo/index.jsx
Due: none

Feat(fe): report generator for calculations
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/CraneCalcView/ResultDownloadButton.jsx
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/utilities/reportGenerator.js
Due: frontend-linter, frontend-tests

Add(fe): formatting utilities
  frontend/src/utilities/formatters.js
Due: frontend-linter, frontend-tests

Upd(fe): cranes list with row hover effect
  frontend/src/components/CranesList/index.jsx
Due: none

Upd(fe): calc result container min height
  frontend/src/components/CraneCalcView/CraneCalcView.css
Due: none

Add(fe): to format form values
  frontend/src/utilities/formatters.js
Due: frontend-linter, frontend-tests

Feat(fe): calc history page
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/components/CraneCalcView/useCalculationForm.js
  frontend/src/hooks/useCalculationHistory.js
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/pages/CraneDetail/index.jsx
Due: frontend-linter, frontend-tests

Upd(fe): navbar search icon
  frontend/src/components/Navbar/index.jsx
Due: none

Fix(fe): remove unused css classes
  frontend/src/components/CraneCalcView/CalculationForm.jsx
Due: none

Add(fe): link to calc view from calc history page
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/components/CraneCalcView/useCalculationForm.js
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/pages/CraneDetail/index.jsx
Due: frontend-linter, frontend-tests

Upd: app icon
  frontend/index.html
  frontend/public/icon.png
  frontend/public/vite.svg
Due: none

Docs(fe): calcRequests
  frontend/src/api/calcRequests.js
Due: frontend-linter, frontend-tests

Upd(fe): default sorting for cranes list
  frontend/src/components/CranesFilterSidebar/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/utilities/sortCranes.js
Due: frontend-linter, frontend-tests

Docs(be): api.py
  backend/app/api.py
Due: backend-linter, backend-tests

Docs(fe): remove redundant comments
  frontend/src/components/CranesList/CranesList.css
Due: none

Upd(fe): home page styles
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/pages/Home/Home.css
Due: none

Upd(fe): utility classes to align text
  frontend/src/styles/utility-classes.css
Due: none

Typo(fe): in calc form validation
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Refactor(fe): result copy button
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/ResultCopyButton.jsx
Due: none

Refactor(fe): app layout to be more compact
  frontend/src/components/AppLogo/AppLogo.css
  frontend/src/components/CraneCalcView/CalculationForm.jsx
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/components/CraneDataView/CraneDataView.css
  frontend/src/components/CraneDataView/index.jsx
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/components/ImageGallery/ImageGallery.css
  frontend/src/components/ValidatedFormField/index.jsx
  frontend/src/pages/CraneDetail/CraneDetail.css
  frontend/src/pages/CraneDetail/index.jsx
Due: none

Add(fe): downloads to crane detail page
  frontend/src/components/CraneDataView/index.jsx
Due: none

Upd(fe): slug on coparison page
  frontend/src/pages/ComparisonTable/index.jsx
Due: none

Upd(fe): blue accent color
  frontend/src/index.css
Due: none

Feat(fe): about page
  frontend/src/pages/About/About.css
  frontend/src/pages/About/index.jsx
Due: none

Upd(fe): utility css classes
  frontend/src/styles/utility-classes.css
Due: none

Feat(fe): button to copy calc results
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/CraneCalcView/ResultCopyButton.jsx
  frontend/src/components/CraneCalcView/index.jsx
Due: none

Refactor(fe): calc history page
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
Due: none

Upd(fe): add hover effect to links on home page
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
Due: none

Refactor(fe): calculation form hook
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/useCalculationForm.js
Due: frontend-linter, frontend-tests

Feat: home page pagination functionality
  backend/app/api.py
  backend/app/db/queries.py
  backend/app/schemas/cranes.py
  backend/app/settings.py
  frontend/src/api/cranes.js
  frontend/src/components/CranesList/index.jsx
  frontend/src/config.js
  frontend/src/pages/Home/index.jsx
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd: cranes list icon
  frontend/src/assets/crane_list_icon.png
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
Due: none

Refactor(fe): add formatters to calc result
  frontend/src/components/CraneCalcView/CalculationResults.jsx
Due: none

Test(be): update existing tests
  backend/tests/cranes_test_data/Liebherr_LR1100.json
  backend/tests/cranes_test_data/Liebherr_LR1200.1.json
  backend/tests/cranes_test_data/Liebherr_LR1280.json
  backend/tests/cranes_test_data/Liebherr_LR1300.json
  backend/tests/cranes_test_data/Liebherr_LR1400.json
  backend/tests/cranes_test_data/Liebherr_LR1500.json
  backend/tests/cranes_test_data/Liebherr_LR1600.json
  backend/tests/cranes_test_data/Liebherr_LR1750.json
  backend/tests/cranes_test_data/Liebherr_LR1800.json
  backend/tests/cranes_test_data/Liebherr_LTM1100-5.1.json
  backend/tests/cranes_test_data/Liebherr_LTM1100.json
  backend/tests/cranes_test_data/Liebherr_LTM1200-5.1.json
  backend/tests/cranes_test_data/Liebherr_LTM1300-6.2.json
  backend/tests/cranes_test_data/Sany_SCC1000A-5.json
  backend/tests/cranes_test_data/Sany_SCC2000A.json
  backend/tests/cranes_test_data/Sany_SCC2800A.json
  backend/tests/cranes_test_data/Sany_SCC3200T.json
  backend/tests/cranes_test_data/Sany_SCC4000A-6.json
  backend/tests/cranes_test_data/Sany_SCC5000A-1.json
  backend/tests/cranes_test_data/Sany_SCC6000A.json
  backend/tests/cranes_test_data/Sany_SCC7500A.json
  backend/tests/cranes_test_data/Takraf_ЕДК1000.json
  backend/tests/cranes_test_data/Takraf_ЕДК500.json
  backend/tests/cranes_test_data/Takraf_РДК250.json
  backend/tests/cranes_test_data/Takraf_РДК400.json
  backend/tests/cranes_test_data/Zoomlion_ZAT2000.json
  backend/tests/cranes_test_data/Zoomlion_ZAT3000.json
  backend/tests/cranes_test_data/Zoomlion_ZTC1000.json
  backend/tests/cranes_test_data/ЧМЗ_ДЭК631.json
  backend/tests/test.db
  backend/tests/test_endpoints/process/test_single_safety_factor_request.py
  backend/tests/test_utils/test_math.py
Due: backend-linter, backend-tests

Refactor: move sorting to backend
  backend/app/api.py
  backend/app/db/queries.py
  backend/app/schemas/cranes.py
  frontend/src/api/cranes.js
  frontend/src/components/CranesFilterSidebar/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/utilities/sortCranes.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Remove(be): redundant min safety factor setting
  backend/.env.example
  backend/app/schemas/calc_responses.py
  backend/app/services/lifting_capacity.py
  backend/app/settings.py
Due: backend-linter, backend-tests

Path conditions:
  backend-linter: any of: \.py$
  backend-tests: any of: \.py$
  frontend-linter: any of: \.(js|mjs|cjs)$
  frontend-tests: any of: \.(js|mjs|cjs)$
