Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

backend-linter:
  name: Run backend linter
  entry: make lint-backend
  language: system
  pass_filenames: false

backend-tests:
  name: Run backend tests
  entry: make test-backend
  language: system
  pass_filenames: false

frontend-linter:
  name: Run frontend linter
  entry: make lint-frontend
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: make test-frontend
  language: system
  pass_filenames: false

Add: new cranes data
  data/app.db.sqlite3
Due: none

Fix(fe): word wrap in refs in data view
  frontend/src/components/CraneDataView/CraneDataView.css
Due: none

Upd: default pagination size to 30
  .env.example
  README.md
  backend/app/settings.py
  frontend/src/config.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(fe): config.js
  frontend/src/config.js
Due: frontend-linter, frontend-tests

Feat: comparison table
  frontend/src/components/AddToComparisonButton/AddToComparisonButton.css
  frontend/src/components/AddToComparisonButton/index.jsx
  frontend/src/components/ComparisonForm/ComparisonForm.css
  frontend/src/components/ComparisonForm/index.jsx
  frontend/src/components/ComparisonResult/ComparisonResult.css
  frontend/src/components/ComparisonResult/index.jsx
  frontend/src/components/CraneDataView/CraneDataView.css
  frontend/src/components/CraneDataView/index.jsx
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
  frontend/src/components/ResultDeleteButton/index.jsx
  frontend/src/hooks/useComparisonForm.js
  frontend/src/hooks/useComparisonTableAdd.js
  frontend/src/hooks/useComparisonTableClear.js
  frontend/src/hooks/useComparisonTableDelete.js
  frontend/src/hooks/useComparisonTableState.js
  frontend/src/pages/ComparisonTable/ComparisonTable.css
  frontend/src/pages/ComparisonTable/index.jsx
  frontend/src/pages/CraneDetail/index.jsx
Due: frontend-linter, frontend-tests

Upd: app logo and icon
  frontend/public/icon.png
  frontend/src/assets/app_logo.png
Due: none

Upd(fe): history page
  frontend/src/hooks/useCalculationForm.js
  frontend/src/hooks/useHistoryAdd.js
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
Due: frontend-linter, frontend-tests

Feat(fe): comparison copy and download buttons
  frontend/src/components/ComparisonCopyButton/ComparisonCopyButton.css
  frontend/src/components/ComparisonCopyButton/index.jsx
  frontend/src/components/ComparisonDownloadButton/ComparisonDownloadButton.css
  frontend/src/components/ComparisonDownloadButton/index.jsx
  frontend/src/components/ComparisonResult/index.jsx
  frontend/src/pages/ComparisonTable/index.jsx
  frontend/src/utilities/comparisonReportGenerator.js
Due: frontend-linter, frontend-tests

Upd(fe): comparison table sorting logic
  frontend/src/hooks/useComparisonForm.js
Due: frontend-linter, frontend-tests

Style(fe): calculation form margin
  frontend/src/components/CalculationForm/CalculationForm.css
Due: none

Add new cranes
  data/app.db.sqlite3
Due: none

Fix: dek324 missing country
  data/app.db.sqlite3
Due: none

Feat: deep crane filtering logic support
  backend/app/db/filters.py
  backend/app/db/queries.py
  backend/app/schemas/cranes.py
  backend/app/services/lifting_capacity.py
  backend/utils/lifting_capacity.py
  frontend/src/api/cranes.js
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/components/CranesFilterSidebar/index.jsx
  frontend/src/pages/Home/Home.css
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Feat(fe): country sorting option
  backend/app/api.py
  backend/app/db/filters.py
  backend/app/db/queries.py
  backend/app/schemas/cranes.py
  backend/app/settings.py
  frontend/src/api/cranes.js
  frontend/src/components/CranesFilterSidebar/index.jsx
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(fe): hide app logo on tablet size
  frontend/src/components/AppLogo/index.jsx
Due: none

Fix corrupted data in db
  data/app.db.sqlite3
Due: none

Upd(fe): comparison table boom column width
  frontend/src/pages/ComparisonTable/ComparisonTable.css
Due: none

Fix(fe): save state of comparison results
  frontend/src/config.js
  frontend/src/hooks/useComparisonForm.js
  frontend/src/hooks/useComparisonTableClear.js
  frontend/src/pages/ComparisonTable/index.jsx
Due: frontend-linter, frontend-tests

Upd(fe): comparison table crane sorting logic
  frontend/src/config.js
  frontend/src/hooks/useComparisonForm.js
Due: frontend-linter, frontend-tests

Upd(fe): keep filters between page reloads
  frontend/src/config.js
  frontend/src/pages/Home/index.jsx
Due: frontend-linter, frontend-tests

Upd README.md
  README.md
Due: none

Upd(fe): comparison table add button logic
  frontend/src/components/AddToComparisonButton/index.jsx
Due: none

Fix(fe): unsafe id generation for tables entries
  frontend/src/hooks/useComparisonTableAdd.js
  frontend/src/hooks/useHistoryAdd.js
Due: frontend-linter, frontend-tests

Upd(fe): max lc filtering fields to one line
  frontend/src/components/CranesFilterSidebar/index.jsx
Due: none

Upd(fe): comparison result copy header
  frontend/src/components/ComparisonCopyButton/index.jsx
Due: none

Fix(fe): comparison table radius validation
  frontend/src/hooks/useComparisonForm.js
  frontend/src/pages/ComparisonTable/index.jsx
  frontend/src/utilities/comparisonReportGenerator.js
Due: frontend-linter, frontend-tests

Refactor: use base price instead of total price
  backend/app/db/filters.py
  backend/app/db/queries.py
  frontend/src/components/ComparisonCopyButton/index.jsx
  frontend/src/components/ComparisonDownloadButton/index.jsx
  frontend/src/components/CranesList/index.jsx
  frontend/src/hooks/useCalculationForm.js
  frontend/src/hooks/useComparisonForm.js
  frontend/src/hooks/useComparisonTableAdd.js
  frontend/src/hooks/useHistoryAdd.js
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/pages/ComparisonTable/index.jsx
  frontend/src/utilities/comparisonReportGenerator.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd(fe): comparison copy and report generators
  frontend/src/components/ComparisonCopyButton/index.jsx
  frontend/src/utilities/comparisonReportGenerator.js
Due: frontend-linter, frontend-tests

Upd(fe): boom column header name
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/pages/ComparisonTable/index.jsx
  frontend/src/utilities/reportGenerator.js
Due: frontend-linter, frontend-tests

Fix(fe): calc history boom column width
  frontend/src/pages/CalcHistory/CalcHistory.css
Due: none

Upd(fe): fix midas layout remarks
  frontend/src/App.css
  frontend/src/components/AppLogo/AppLogo.css
  frontend/src/components/AppLogo/index.jsx
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/components/CranesFilterSidebar/index.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/NavbarButton/NavbarButton.css
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/pages/ComparisonTable/ComparisonTable.css
  frontend/src/pages/ComparisonTable/index.jsx
  frontend/src/pages/Home/Home.css
  frontend/src/pages/Home/index.jsx
Due: none

Add new crawler cranes
  data/app.db.sqlite3
Due: none

Fix(fe): filter sidebar margin
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
Due: none

Upd(be): add 2 digit round to lc values
  backend/dev_scripts/populate_db_with_cranes/parse_excel_data.py
Due: backend-linter, backend-tests

Add: new KAZ crawler cranes
  data/app.db.sqlite3
Due: none

Upd: README.md
  README.md
Due: none

Path conditions:
  backend-linter: any of: \.py$
  backend-tests: any of: \.py$
  frontend-linter: any of: \.(js|mjs|cjs)$
  frontend-tests: any of: \.(js|mjs|cjs)$
