Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

backend-linter:
  name: Run backend linter
  entry: make lint-backend
  language: system
  pass_filenames: false

backend-tests:
  name: Run backend tests
  entry: make test-backend
  language: system
  pass_filenames: false

frontend-linter:
  name: Run frontend linter
  entry: make lint-frontend
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: make test-frontend
  language: system
  pass_filenames: false

Upd: add make build-render-com command
  Makefile
  backend/requirements.txt
Due: none

Add(fe): validation to lifting capacity fields
  frontend/src/components/CranesFilterSidebar/index.jsx
Due: none

Upd(fe): side bar position and sizes
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/components/CranesFilterSidebar/index.jsx
  frontend/src/components/CranesList/CranesList.css
  frontend/src/pages/Home/Home.css
Due: none

Upd(be): add new cranes to db
  data/app.db.sqlite3
Due: none

Upd: app logo
  frontend/src/assets/app_logo.png
Due: none

Upd(fe): make image gallery foldable
  frontend/src/components/ImageGallery/ImageGallery.css
  frontend/src/components/ImageGallery/index.jsx
Due: none

Add: midas license checker
  .env.example
  Makefile
  README.md
  backend/app/api.py
  backend/app/pymidasoft/__init__.py
  backend/app/pymidasoft/license/__init__.py
  backend/app/pymidasoft/license/license_checker.py
  backend/app/pymidasoft/license/middleware.py
  backend/app/settings.py
  backend/pyproject.toml
  frontend/.prettierignore
  frontend/eslint.config.js
  frontend/index.html
  frontend/src/license-checker.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Upd: page icon
  frontend/public/icon.png
Due: none

Upd(fe): calculation buttons
  frontend/src/components/CraneCalcView/CalculationForm.jsx
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/CraneCalcView/ResultCopyButton.css
  frontend/src/components/CraneCalcView/ResultCopyButton.jsx
  frontend/src/components/CraneCalcView/ResultDownloadButton.css
  frontend/src/components/CraneCalcView/ResultDownloadButton.jsx
  frontend/src/components/CraneDataView/CraneDataView.css
  frontend/src/pages/CalcHistory/CalcHistory.css
Due: none

Upd(fe): make table headers blue instead of yellow
  frontend/src/components/CraneDataView/CraneDataView.css
  frontend/src/components/CraneDataView/index.jsx
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
  frontend/src/index.css
  frontend/src/styles/utility-classes.css
Due: none

Upd: crane list icon
  frontend/src/assets/crane_list_icon.png
Due: none

Upd(fe): add cogs icon to comparison slug page
  frontend/src/pages/ComparisonTable/index.jsx
Due: none

Upd(fe): center navbar relativ to whole page width
  frontend/src/App.css
  frontend/src/components/AppLogo/AppLogo.css
Due: none

Upd(fe): home page text
  frontend/src/components/CranesList/index.jsx
Due: none

Upd(fe): restyle header with midas specification
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/AppLogo/AppLogo.css
  frontend/src/components/AppLogo/index.jsx
  frontend/src/components/Copyright/Copyright.css
  frontend/src/components/Copyright/index.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/NavbarButton/NavbarButton.css
  frontend/src/components/NavbarButton/index.jsx
  frontend/src/index.css
  frontend/src/styles/inter-font.css
Due: none

Upd(fe): center main page header
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
  frontend/src/pages/Home/Home.css
  frontend/src/pages/Home/index.jsx
Due: none

Style(fe): add css to pre-commit trigger
  .pre-commit-config.yaml
Due: none

Upd(be): add new cranes
  backend/app/schemas/cranes.py
  data/app.db.sqlite3
Due: backend-linter, backend-tests

Add(fe): calc history error handling
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
Due: none

Add(be): new cranes
  data/app.db.sqlite3
Due: none

Upd(fe): hide copyright section
  frontend/src/components/Copyright/index.jsx
Due: none

Refactor(fe): separate result buttons
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/ResultCopyButton/ResultCopyButton.css
  frontend/src/components/ResultCopyButton/index.jsx
  frontend/src/components/ResultDownloadButton/ResultDownloadButton.css
  frontend/src/components/ResultDownloadButton/index.jsx
  frontend/src/pages/CalcHistory/index.jsx
Due: none

Refactor(fe): move useCalculationForm to hooks
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/hooks/useCalculationForm.js
Due: frontend-linter, frontend-tests

Upd(fe): increase b-margin for index page sidebar
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
Due: none

Upd(fe): uncomment about page from router
  frontend/src/App.jsx
Due: none

Remove(fe): redundant css class in cranes list
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
Due: none

Fix(fe): api requests with license check
  frontend/src/api/calcRequests.js
  frontend/src/api/cranes.js
  frontend/vite.config.js
Due: frontend-linter, frontend-tests

Add(fe): crane price to calc history
  frontend/src/components/CranePriceField/index.jsx
  frontend/src/pages/CalcHistory/CalcHistory.css
  frontend/src/pages/CalcHistory/index.jsx
Due: none

Remove(be): license check for health endpoint
  backend/app/api.py
Due: backend-linter, backend-tests

Feat(fe): single history result delete button
  frontend/src/components/ResultDeleteButton/ResultDeleteButton.css
  frontend/src/components/ResultDeleteButton/index.jsx
  frontend/src/hooks/useHistoryDelete.js
  frontend/src/pages/CalcHistory/index.jsx
Due: frontend-linter, frontend-tests

Refactor(fe): crane calc view component
  frontend/src/components/CalculationForm/CalculationForm.css
  frontend/src/components/CalculationForm/index.jsx
  frontend/src/components/CalculationResults/CalculationResults.css
  frontend/src/components/CalculationResults/index.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/pages/CraneDetail/CraneDetail.css
  frontend/src/pages/CraneDetail/index.jsx
Due: none

Upd: Midas license checker
  backend/app/api.py
  frontend/.npmrc
  frontend/.prettierignore
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/license-checker.js
Due: backend-linter, backend-tests, frontend-linter, frontend-tests

Refactor(fe): useCalculationHistory hook
  frontend/src/hooks/useCalculationHistory.js
  frontend/src/hooks/useHistoryAdd.js
  frontend/src/hooks/useHistoryClear.js
  frontend/src/hooks/useHistoryState.js
  frontend/src/pages/About/index.jsx
  frontend/src/pages/CalcHistory/index.jsx
Due: frontend-linter, frontend-tests

Upd(be): python version requirements
  backend/pyproject.toml
  backend/uv.lock
Due: none

Add(fe): sorting to images in gallery
  frontend/src/components/ImageGallery/index.jsx
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Upd(fe): add 100vh to app container
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
Due: none

Upd: pre-commit setup
  .pre-commit-config.yaml
Due: none

Style(be): quotes inconsistency
  backend/app/db/models.py
  backend/app/db/queries.py
  backend/dev_scripts/populate_db_with_cranes/__init__.py
  backend/dev_scripts/populate_db_with_cranes/parse_attachments.py
  backend/tests/conftest.py
Due: backend-linter, backend-tests

Upd(fe): new crane schema view
  data/app.db.sqlite3
  frontend/src/components/CalculationForm/index.jsx
  frontend/src/components/CraneDataView/CraneDataView.css
  frontend/src/components/CraneDataView/index.jsx
  frontend/src/components/CranesList/index.jsx
  frontend/src/pages/CalcHistory/index.jsx
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Path conditions:
  backend-linter: any of: \.py$
  backend-tests: any of: \.py$
  frontend-linter: any of: \.(js|mjs|cjs)$
  frontend-tests: any of: \.(js|mjs|cjs)$
