Repository Pythonusus/crane_lifting_capacity: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-linter, backend-tests, frontend-linter, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-linter
        name: Run backend linter
        entry: make lint-backend
        language: system
        types: [python]
        pass_filenames: false

      - id: backend-tests
        name: Run backend tests
        entry: make test-backend
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-linter
        name: Run frontend linter
        entry: make lint-frontend
        language: system
        types: [javascript]
        pass_filenames: false

      - id: frontend-tests
        name: Run frontend tests
        entry: make test-frontend
        language: system
        types: [javascript]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: debug-statements
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=2000']

Add(be): sqlite db with parsed data
  backend/data/app.db.sqlite3
Due: none

Add(be): dev_sripts and a CLI manage.py tool
  backend/dev_scripts/populate_db_from_xlsx.py
  backend/manage.py
Due: backend-linter, backend-tests

Add(be): lifting capacity calculation schemas
  backend/app/schemas/calc_requests.py
  backend/app/schemas/calc_responses.py
Due: backend-linter, backend-tests

Add(fe): CranesList component
  frontend/src/components/CranesList/CranesList.css
  frontend/src/components/CranesList/index.jsx
Due: none

Upd(fe): index.css mobile styles
  frontend/src/index.css
Due: none

Upd(fe): fixed header layout
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/AppLogo/AppLogo.css
  frontend/src/components/AppLogo/index.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/index.jsx
Due: none

Upd(be): make all possible crane fields deffered
  backend/app/db/models.py
  backend/migrations/versions/477c9551f1eb_.py
Due: backend-linter, backend-tests

Upd(be): remove tests from ruff ignores
  backend/pyproject.toml
Due: none

Upd(be): crane data to suit updated crane model
  backend/data/app.db.sqlite3
  backend/data/attachments/crawler/Liebherr_LR1100.xlsx
  backend/data/attachments/crawler/Takraf_RDK250.xlsx
  backend/data/attachments/mobile/Liebherr_LTM1100.xlsx
  backend/data/attachments/mobile/Liebherr_LTM1300.xlsx
Due: none

Feat(fe): add cranes sorting functionality
  frontend/src/utilities/sortCranes.js
Due: frontend-linter, frontend-tests

Upd(fe): cranes api calls functionality
  frontend/src/api/cranes.js
Due: frontend-linter, frontend-tests

Feat(fe): detail page for crane and calculation (unfinished)
  frontend/src/components/CraneCalcView/CalculationForm.jsx
  frontend/src/components/CraneCalcView/CalculationResults.jsx
  frontend/src/components/CraneCalcView/CraneCalcView.css
  frontend/src/components/CraneCalcView/index.jsx
  frontend/src/components/CraneCalcView/useCalculationForm.js
  frontend/src/components/CraneDataView/CraneDataView.css
  frontend/src/components/CraneDataView/index.jsx
  frontend/src/components/CranesFilterSidebar/CranesFilterSidebar.css
  frontend/src/components/ValidatedFormField/index.jsx
  frontend/src/pages/CraneDetail/CraneDetail.css
  frontend/src/pages/CraneDetail/index.jsx
  frontend/src/utilities/validateCalcForm.js
Due: frontend-linter, frontend-tests

Add(be): /cranes/{crane_id} endpoint
  backend/app/api.py
Due: backend-linter, backend-tests

Upd(fe): set Inter as main font for the app
  frontend/public/fonts/Inter-Black.woff2
  frontend/public/fonts/Inter-BlackItalic.woff2
  frontend/public/fonts/Inter-Bold.woff2
  frontend/public/fonts/Inter-BoldItalic.woff2
  frontend/public/fonts/Inter-ExtraBold.woff2
  frontend/public/fonts/Inter-ExtraBoldItalic.woff2
  frontend/public/fonts/Inter-ExtraLight.woff2
  frontend/public/fonts/Inter-ExtraLightItalic.woff2
  frontend/public/fonts/Inter-Italic.woff2
  frontend/public/fonts/Inter-Light.woff2
  frontend/public/fonts/Inter-LightItalic.woff2
  frontend/public/fonts/Inter-Medium.woff2
  frontend/public/fonts/Inter-MediumItalic.woff2
  frontend/public/fonts/Inter-Regular.woff2
  frontend/public/fonts/Inter-SemiBold.woff2
  frontend/public/fonts/Inter-SemiBoldItalic.woff2
  frontend/public/fonts/Inter-Thin.woff2
  frontend/public/fonts/Inter-ThinItalic.woff2
  frontend/public/fonts/InterDisplay-Black.woff2
  frontend/public/fonts/InterDisplay-BlackItalic.woff2
  frontend/public/fonts/InterDisplay-Bold.woff2
  frontend/public/fonts/InterDisplay-BoldItalic.woff2
  frontend/public/fonts/InterDisplay-ExtraBold.woff2
  frontend/public/fonts/InterDisplay-ExtraBoldItalic.woff2
  frontend/public/fonts/InterDisplay-ExtraLight.woff2
  frontend/public/fonts/InterDisplay-ExtraLightItalic.woff2
  frontend/public/fonts/InterDisplay-Italic.woff2
  frontend/public/fonts/InterDisplay-Light.woff2
  frontend/public/fonts/InterDisplay-LightItalic.woff2
  frontend/public/fonts/InterDisplay-Medium.woff2
  frontend/public/fonts/InterDisplay-MediumItalic.woff2
  frontend/public/fonts/InterDisplay-Regular.woff2
  frontend/public/fonts/InterDisplay-SemiBold.woff2
  frontend/public/fonts/InterDisplay-SemiBoldItalic.woff2
  frontend/public/fonts/InterDisplay-Thin.woff2
  frontend/public/fonts/InterDisplay-ThinItalic.woff2
  frontend/public/fonts/InterVariable-Italic.woff2
  frontend/public/fonts/InterVariable.woff2
  frontend/src/main.jsx
  frontend/src/styles/fonts.css
Due: none

Upd(be): upd pydantic crane model
  backend/app/schemas/cranes.py
Due: backend-linter, backend-tests

Upd(fe): index.css
  frontend/src/index.css
Due: none

Upd(fe): add shadow to header
  frontend/src/App.css
  frontend/src/App.jsx
Due: none

Add(be): CraneFilterRequest pydantic model
  backend/app/schemas/cranes.py
Due: backend-linter, backend-tests

Upd(fe): proxy manufacturer api calls in dev
  frontend/vite.config.js
Due: frontend-linter, frontend-tests

Add(be): dev script to dump cranes data from db
  Makefile
  backend/dev_scripts/cli_parser.py
  backend/dev_scripts/dump_cranes_data.py
  backend/manage.py
Due: backend-linter, backend-tests

Add(fe): api calculation request func
  frontend/src/api/calcRequests.js
Due: frontend-linter, frontend-tests

Upd(be): devscripts to suit updated crane model
  backend/dev_scripts/populate_db_from_xlsx.py
Due: backend-linter, backend-tests

Upd(fe): header to use flex instead grid
  frontend/src/App.css
  frontend/src/App.jsx
Due: none

Upd(fe): index.css add yellow color var
  frontend/src/index.css
Due: none

Add(fe): Home page component
  frontend/src/pages/Home/Home.css
  frontend/src/pages/Home/index.jsx
Due: none

Add(be): lifting capacity service
  backend/app/api.py
  backend/app/services/__init__.py
  backend/app/services/lifting_capacity.py
  backend/utils/__init__.py
  backend/utils/math.py
Due: backend-linter, backend-tests

Remove(fe): redundant font import in main.jsx
  frontend/src/main.jsx
Due: none

Fix(be): process endpoint
  backend/app/api.py
  backend/app/schemas/calc_requests.py
  backend/app/services/lifting_capacity.py
Due: backend-linter, backend-tests

Feat(be): filtering in cranes db queries
  backend/app/db/filters.py
  backend/app/db/queries.py
Due: backend-linter, backend-tests

Upd(be): crane prepopulated data for upd models
  backend/data/app.db.sqlite3
  backend/data/attachments/crawler/Liebherr_LR1100.xlsx
  backend/data/attachments/crawler/Takraf_RDK250.xlsx
  backend/data/attachments/crawler/Takraf_РДК250.dwg
  backend/data/attachments/crawler/Takraf_РДК250.jpg
  backend/data/attachments/crawler/Takraf_РДК250.xlsx
  backend/data/attachments/crawler/Takraf_РДК400.jpg
  backend/data/attachments/crawler/Takraf_РДК400.xlsx
  backend/data/attachments/crawler/~$Takraf_РДК250.xlsx
  backend/data/attachments/crawler/ЧМЗ_ДЭК631.jpg
  backend/data/attachments/crawler/ЧМЗ_ДЭК631.xlsx
  backend/data/attachments/mobile/Liebherr_LTM1100.xlsx
  backend/data/attachments/mobile/Liebherr_LTM1200.jpg
  backend/data/attachments/mobile/Liebherr_LTM1200.xlsx
  backend/data/attachments/mobile/Liebherr_LTM1300.xlsx
  backend/data/attachments/mobile/Zoomlion ZAT2000V.pdf
  backend/data/attachments/mobile/Zoomlion_ZAT2000V.jpg
  backend/data/attachments/mobile/Zoomlion_ZTC1000V653.jpg
  backend/data/attachments/railway/Takraf_EDK1000.dwg
  backend/data/attachments/railway/Takraf_EDK1000.png
  backend/data/attachments/railway/Takraf_EDK1000.xlsx
  backend/data/attachments/railway/Takraf_EDK25.png
  backend/data/attachments/railway/Takraf_EDK300.png
  backend/data/attachments/railway/Takraf_EDK50.png
  backend/data/attachments/railway/Takraf_EDK500.dwg
  backend/data/attachments/railway/Takraf_EDK500.png
  backend/data/attachments/railway/Takraf_EDK500.xlsx
  backend/data/attachments/railway/К251.png
  backend/data/attachments/railway/КДЭ251.png
Due: none

Upd(fe): crane list to use updated crane models
  frontend/src/components/CranesList/index.jsx
Due: none

Upd(fe): sidebar button color
  frontend/src/components/CranesFilterSidebar/index.jsx
Due: none

Upd(fe): change list header bg to yellow
  frontend/src/components/CranesList/CranesList.css
Due: none

Upd(be): crane model
  backend/app/db/models.py
  backend/app/schemas/cranes.py
  backend/data/app.db.sqlite3
  backend/migrations/env.py
  backend/migrations/versions/f82fe61361b3_.py
Due: backend-linter, backend-tests

Upd(be): chassis type response model
  backend/app/schemas/cranes.py
Due: backend-linter, backend-tests

Add(be): endpoints to fetch cranes
  backend/app/api.py
Due: backend-linter, backend-tests

Add(fe): function to fetch cranes from api
  frontend/src/api/cranes.js
Due: frontend-linter, frontend-tests

Add(fe): api call function for single crane by id
  frontend/src/api/cranes.js
Due: frontend-linter, frontend-tests
